[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
psycopg2 = "*"
pytz = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
python-decouple = "*"
django-heroku = "*"
boto3 = "*"
django-storages = "*"
celery = "*"
redis = "*"
djangorestframework-api-key = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.9"
